<!--<img class = "main" src="/images/edit_box.jpg"/>-->
<form class="edit" method="post" action="/cargos/save">
    <div class="container-fluid ">
        <input type = "hidden" name = "saveMethod"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>
        <div class="form-group row">
            <div class=" col-sm-6  float-left font-weight-bold">
                <label class="col-5 col-form-label text-right" for="key">Key: </label>
                <label class="col-5 col-form-label" name="key">{{cargoKey}}</label>
            </div>
            <div class="col-sm-6 font-weight-bold">
                <label class="col-5 col-form-label text-right" for="tracking_id">Tracking number:</label>
                <input class="col-7 form-control float-right" type = "number" name="tracking_id" value="{{cargoTrack}}"/><br/>
            </div>
        </div>

        <input type="hidden" name="cargoKey" value="{{cargoKey}}"/>

        <div class="col-sm-6 float-left">
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="from_name">Sender name:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "text" name="from_name" value="{{cargoFromName}}"/><br/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="from_address">Sender address:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "text" name="from_address" value="{{cargoFromAddress}}"/><br/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="from_number">Sender phone number:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "number" name="from_number" value="{{cargoFromNumber}}"/><br/>
                </div>
            </div>
        </div>

        <div class="col-sm-6 float-right" >
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="to_name">Receiver name:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "text" name="to_name" value="{{cargoToName}}"/><br/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="to_address">Receiver address:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "text" name="to_address" value="{{cargoToAddress}}"/><br/>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="to_number">Receiver number:</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type = "text" name="to_number" value="{{cargoToNumber}}"/><br/>
                </div>
            </div>
        </div>

        <div class="col-md-4 float-left" >
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="cargo_type">Cargo type:</label>
                </div>
                <div class="col-7">
                    <input type = "radio" name="cargo_type" id="air-transport" value="air-transport"/>Air transport<br/>
                    <input  type = "radio" name="cargo_type" id="auto-transport" value="auto-transport"/>Auto transport<br/>
                </div>
            </div>
        </div>
        <div class="col-md-4 float-left" >
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="size">Cargo size(lb):</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type="number" name="size" value="{{cargoSize}}"/><br/>
                </div>
            </div>
        </div>
        <div class="col-md-4 float-left" >
            <div class="form-group row justify-content-center">
                <div class="col-5 text-right font-weight-bold">
                    <label class="col-form-label" for="price">Cargo price($):</label>
                </div>
                <div class="col-7">
                    <input class="form-control" type="number" name="price" value="{{cargoPrice}}"/><br/>
                </div>
            </div>
        </div>
        <input type="hidden" name="cargoDate" value="{{cargoDate}}"/>
        <div class="form-group row justify-content-center">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="items">Cargo items:</label>
            </div>
            <div class="col-10">
                <textarea class="form-control" rows=5 name="items">{{cargoItems}}</textarea><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center ">
            <input class="col-3 btn-outline-info btn " type="submit" value="Save"/>
            <a class="col-3 btn-outline-info btn" href="/cargos/viewall">Go Back</a>
        </div>
    </div>
</form>
