<h3>Title:  {{ cargoTitle }}</h3>
<p>Body: {{ cargoBody }}</p>
<p>Key: {{cargoKey}} </p>
<hr/>
<p>
    <span><a href="/cargos/destroy?key={{cargoKey}}"> Delete Cargo</a></span>
    <span><a href="/cargos/edit?key={{cargoKey}}"> Edit Cargo</a></span>
</p>
<img class = "main" src="/images/view_cargo.png"/>
